<form #myForm="ngForm" (ngSubmit)="submitForm()">
  <div>
    <label for="email">Email: </label>
    <input type="email" placeholder="inserire email" name="email" [(ngModel)]="data.email">
  </div>

  <div>
    <label for="password">Password: </label>
    <input [placeholder]="pass.invalid ? 'Campo non valido' : '' " #pass="ngModel" type="password" placeholder="inserire password" name="password" required minlength="4"
      [(ngModel)]="data.password">
    <span *ngIf="pass.invalid">
      <span *ngIf="pass.errors?.['required']">La password non può essere vuota</span>
      <span *ngIf="pass.errors?.['minlength']">La password deve avere almeno 4 caratteri</span>

    </span>
  </div>

  <div>
    <label for="newsletter">Iscriviti alla newsletter: </label>
    <input type="checkbox" name="newsletter" [(ngModel)]="data.newsletter">
  </div>

  <div>
    <input type="submit" [disabled]="myForm.form.invalid">
    <span *ngIf="myForm.form.invalid">Compila i dati in modo corretto</span>
  </div>
</form>
