<h2>HTML form</h2>
<form action="/registration.php" method="post" onsubmit="">
  <div>
  <label for="">Email: </label>
  <input type="email" placeholder="inserire email" name="email" required>
</div>

<div>
  <label for="">Password: </label>
  <input type="password" placeholder="inserire password" name="password" required minlength="4">
</div>

<div>
  <label for="">Iscriviti alla newsletter: </label>
  <input type="checkbox" name="newsletter" value="chiappe">
  <!-- questo, se flaggato, mi passa una stringa newsletter: "on", a meno che io non ne modifichi il value, come sopra in "chiappe" -->
</div>

<div>
  <input type="submit">
  <!-- fa una chiamata http usando una query string come get ad un API -->
</div>
</form>
